.footer{
    width: 100%;
    background-color: #e7e3da;
    height: 200px;
    display: flex;
    justify-content: end;
    font-family: 'Pretendard', sans-serif;
}

.footer .container{
    align-items: self-end;
    display: flex;
}

.footer .container p{
    color: #1e1e1e;
    justify-content: end;
}

span{
    font-weight: bold;
}