{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <title>{{ post.title }}</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/reset.css' %}"
    />
    <link rel="stylesheet" type="text/css" href="{% static 'css/post.css' %}" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/nav_bar_light.css' %}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/footer.css' %}"
    />
  </head>
  <body>
    {% include 'blog_app/nav_bar_light.html' %}
    <div class="container">
      <div class="box-divider">
        {% comment %} 본문영역 {% endcomment %}
        <div class="big-box">
          <div class="post-info">
            <h5>{{ post.created_at }} | {{ post.views }} 조회</h5>
            <h1>{{ post.title }}</h1>
            <h5>by {{ post.author_id }}</h5>
            <h5 class="topic-box">{{ post.topic }}</h5>
          </div>
          <div class="post-content">{{ post.content | safe }}</div>
        </div>
        {% comment %} 추천글 영역 {% endcomment %}
        <div class="small-box">
          <div>
            <h3>Other posts</br>you may like</h3>
            {% for recommended_post in recommended_posts %}
              <div class="recommend-box">
                <a href="{% url 'blog_app:post_detail' recommended_post.id %}">
                  {{ recommended_post.image_tag|safe }}
                  {{ recommended_post.title }}</a>
                
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="button-box">
        {% if user.is_authenticated %}
        <div class="box-divider" style="gap:10px">
            {% comment %} 수정버튼 {% endcomment %}
            <a href="{% url 'blog_app:create_or_update_post' post.id %}">
              <button class="edit-button">수정하기</button>
            </a>
            {% comment %} 삭제버튼 {% endcomment %}
            <form method="POST" action="{% url 'blog_app:post_detail' post.id %}">
              {% csrf_token %}
              <input type="hidden" name="delete-button" value="true">
              <button type="submit" class="delete-button">삭제하기</button>
            </form>
          </div>
          {% endif %}
          {% comment %} 공유버튼 {% endcomment %}
          <button class="share-button">공유하기</button>
      </div>
      <!-- 다음글 표시 -->
      {% if next_post %}
      <div class="another-post-box">
        <div class="post-box">
          <div>다음글</div>
          <div class="post-name">
            <a href="{% url 'blog_app:post_detail' next_post.id %}"
              >{{ next_post.title }}</a
            >
          </div>
        </div>
        <p>{{ next_post.created_at }}</p>
      </div>
      {% else %}
      <div class="another-post-box"></div>
      {% endif %}

      <!-- 이전글 표시 -->
      {% if previous_post %}
      <div class="another-post-box">
        <div class="post-box">
          <div>이전글</div>
          <div class="post-name">
            <a href="{% url 'blog_app:post_detail' previous_post.id %}"
              >{{ previous_post.title }}</a
            >
          </div>
        </div>
        <p>{{ previous_post.created_at }}</p>
      </div>
      {% else %}
      <div class="another-post-box"></div>
      {% endif %}
    </div>
    {% include 'blog_app/footer.html' %}
  </body>
  <script>
    // 공유하기 버튼 클릭 시
    document.querySelector('.share-button').addEventListener('click', function() {
      let postUrl = window.location.href;
      
      // 클립보드에 복사
      let tempInput = document.createElement("input");
      document.body.appendChild(tempInput);
      tempInput.value = postUrl;
      tempInput.select();
      document.execCommand("copy");
      document.body.removeChild(tempInput);
      
      // 알림 표시
      alert('포스트 링크가 클립보드에 복사되었습니다');
    });
  </script>
</html>
